# python3.11.3
fastapi
uvicorn[standard]
gunicorn
pydantic[email]
pydantic-settings
motor
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
python-multipart
pyotp
qrcode
twilio
sib-api-v3-sdk
google-api-python-client
google-cloud-aiplatform
google-cloud-storage
httpx
slowapi
face-recognition
numpy
opencv-python-headless
google-api-python-client
google-cloud-aiplatform
google-cloud-storage
pytest
pytest-asyncio
pytest-mock
httpx
torch
transformers
sentence-transformers
Pillow
scikit-learn