fastapi
uvicorn[standard]
gunicorn
pydantic[email]
pydantic-settings
motor
redis
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pyotp
qrcode
twilio
brevo
google-api-python-client
google-cloud-aiplatform  # <-- Add this for Vertex AI / Gemini
google-cloud-storage    # <-- Add this for storing images
httpx
slowapi
face-recognition
numpy