fastapi
uvicorn[standard]
gunicorn
pydantic[email]
pydantic-settings
motor
redis
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pyotp
qrcode
twilio
brevo
google-api-python-client
httpx
slowapi
face-recognition
numpy